body{
  background-color: #E7CE8F;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.notes{
  background-color: #FFDC97;
  text-align: center;
  width: 70%;
  height: 50%;
}

li{
  text-align: left;
}