body{
  background-color: #5B5B5D;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.notes{
  background-color: #737374;
  text-align: center;
  width: 70%;
  height: 30%;
}