body{
  background-color: #E7CE8F;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.notes{
  background-color: #FFDC97;
  position: relative;
  text-align: center;
  width: 70%;
  height: 50%;
}

li{
  text-align: left;
}

#input{
  background-color: #FFC85B;
  position: absolute;
  border: solid;
  border-color: #FFB117;
  border-width: 2px;
  border-radius: 10px;
  padding-left: 10px;
  bottom: 5%;
  height: 30px;
  width: 90%;
  left: 3%;
}

#input:focus{
  outline: none;
}